@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
body {
  background-color: black;
}
/* Home */
.primerParrafo {
  display: flex;
}

.primerParrafo > p {
  color: white;
  padding: 20px 50px;
  width: 100%;
  margin: 10px;
  border: solid 2px gold;
  text-align: justify;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  letter-spacing: 1px;
  font-size: 18px;
}
/* PRODUCTOS */
.container{
  display:grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 500px 500px;
}
#container {
	width: auto;
	max-width: 400px;
	height: auto;
	margin: 5em auto;
	overflow: hidden;
	border: 10px solid #EEE5E5;
	outline: 5px dashed #f1f508c4;
	position: relative;
}
#container img {
	width: 100%;
	height: 100%;
	margin-bottom: -5px;
	transition: all 0.3s ease-out;
	position: relative;
	z-index: 2;
}
#container:hover img {
	transform: scale(1.2, 1.2);
	z-index: 9;
}
#container video {
	width: 100%;
	height: 100%;
	margin-bottom: -5px;
	transition: all 0.3s ease-out;
	position: relative;
	z-index: 2;
}
#container:hover video {
	transform: scale(1.2, 1.2);
	z-index: 9;
}

@media (max-width: 600px) {
.container{
  display:grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 300px;
  margin-top: 20px;
  }

#container {
  margin: 5px;
  border: 3px solid #ffffff;
	outline: none;
  }
}
header h1 {
  font-family: "Dancing Script", cursive;
  text-transform: initial;
  word-spacing: 2px;
  color: gold;
  font-size: 50px;
  text-align: center;
  letter-spacing: 2px;
}

header h2 {
  font-family: "Dancing Script", cursive;
  text-transform: initial;
  word-spacing: 2px;
  color: gold;
  font-size: 26px;
  text-align: center;
  letter-spacing: 2px;
}

header img {
  height: 100px;
  width: 100px;
  display: flex;
  float: left;
}

.menuPrincipal {
  background: black;
  padding: 5px 100px;
  display: flex;
  border: double 4px gold;
  border-radius: 5px;
  justify-content: space-around;
}

a {
  color: gold;
  text-decoration: none;
  font-size: medium;
  font-family: Impact;
  font-style: italic;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: 2px;
  display: inline-block;
}

a:hover {
  background: white;
}

.evento {
  display: flex;
}

article {
  width: 60%;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
#titulo {
  color: gold;
  text-align: center;
}

h1 {
  font-family: "Dancing Script", cursive;
  color: white;
}

p {
  color: white;
  background-image: none;
}

.boxSorpresa {
  color: gold;
}

/* Footer */
footer {
  background-color: white;
  padding: 1px;
  border-style: double;
  border-radius: 20px;
  border-color: gold;
}

footer li a {
  color: gold;
  margin-left: 30px;
}

footer h5 {
  margin-left: 30px;
  font-size: 24px;
  margin-top: 10px;
}

.mediosDePagos img {
  width: 50px;
  margin-right: 5px;
  float: initial;
}
h4 {
  color: white;
}

td {
  color: white;
}

th {
  color: white;
}
.cumpleaños > img {
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
  height: 300px;
  width: 300px;
  background-image: none;
  background-color: white;
  padding: 5px;
  border-radius: 7px;
  background-size: cover;
  margin: 30px 20px 0px 0px;
}

.cumpleaños > video {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 300px;
  width: 300px;
  background-image: none;
  background-color: white;
  padding: 5px;
  margin: 30px 20px 0px 0px;
  border-radius: 7px;
  background-size: cover;
  float: right;
}

/* Nosotros */
h2 {
  color: gold;
  font-family: "Dancing Script", cursive;
  font-size: 26px;
  display: flex;
}

.inpar {
  animation-name: inpar;
  animation-iteration-count: 1;
  animation-timing-function: step-start;
  animation-duration: 2s;
  animation-delay: 0s;
  text-align: justify;
  letter-spacing: 1px;
  display: flex;
}

@keyframes inpar {
  0% {
    transform: translate3d(1000px, 0px);
  }
  10% {
    transform: translate(900px, 0px);
  }
  20% {
    transform: translate(800px, 0px);
  }
  30% {
    transform: translate(700px, 0px);
  }
  40% {
    transform: translate(600px, 0px);
  }
  50% {
    transform: translate(500px, 0px);
  }
  60% {
    transform: translate(400px, 0px);
  }
  70% {
    transform: translate(300px, 0px);
  }
  80% {
    transform: translate(200px, 0px);
  }
  90% {
    transform: translate(100px, 0px);
  }
  100% {
    transform: translate(10px, 0px);
  }
}
.par {
  animation-name: par;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-delay: 0s;
  text-align: justify;
  letter-spacing: 1px;
}

@keyframes par {
  0% {
    transform: translate(-1000px, 0px);
  }
  10% {
    transform: translate(-900px, 0px);
  }
  20% {
    transform: translate(-800px, 0px);
  }
  30% {
    transform: translate(-700px, 0px);
  }
  40% {
    transform: translate(-600px, 0px);
  }
  50% {
    transform: translate(-500px, 0px);
  }
  60% {
    transform: translate(-400px, 0px);
  }
  70% {
    transform: translate(-300px, 0px);
  }
  80% {
    transform: translate(-200px, 0px);
  }
  90% {
    transform: translate(-100px, 0px);
  }
  100% {
    transform: translate(-10px, 0px);
  }
}
main p {
  color: white;
  font-size: 16px;
}

@media (max-width: 450px) {
  nav {
    flex-direction: column;
  }

  a {
    margin: 10px 0;
  }

  .slider ul li img {
    display: none;
  }

  header img {
    float: right;
  }
}
/* Contacto */
.contact_form {
  width: 650px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
}

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: gold;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 408px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: gold;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 5px;
  text-transform: uppercase;
  background-color: black;
  border-color: gold;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}

button p {
  color: gold;
}

span {
  color: red;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

h1 {
  font-size: 39px;
  text-align: center;
  padding-bottom: 20px;
  color: black;
}

h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
}

p {
  font-size: 14px;
  color: #0e0e0e;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid red;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid red;
}

@media (max-width: 450px) {
.contact_form{
  width: 350px;
  padding-top: 15px;
  padding-left: 15px;
  }
input {
  width: 300px;
  height: 40px;
}
textarea {
  width: 300px;
}
button {
  height: 45px;
  width: 300px;
}
}


/* Pagina404 */
.error404 h1 {
  font-family: "Dancing Script", cursive;
  letter-spacing: 1px;
  font-size: 40px;
  text-align: justify;
  padding-bottom: 20px;
  color: gold;
}
.error404 p{
  font-family: "Dancing Script", cursive;
  letter-spacing: 1px;
  font-size: 25px;
  text-align: center;
  color: gold;
}
.error404 ul li a{
  font-family: "Dancing Script", cursive;
  letter-spacing: 1px;
  font-size: 15px;
  text-align: justify;
  color: gold;
}
/* Barra Redes Sociales */
.social-bar{
  position: fixed;
  right: 0;
  top: 35%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  z-index: 100;
}

.icon{
  color:white;
  text-decoration: none;
  padding: 1rem;
  display: flex;
  transition:all .5s;
}

.icon-facebook {
  background: blue;
}
.icon-instagram{
  background:rgb(201, 26, 19);
}
.icon-whatsapp{
  background:rgb(12, 139, 55);
}
.icon:first-child{
  border-radius: 1rem 0 0 0;
}

icon:last-child{
  border-radius: 0 0 0 1rem;
}
.icon:hover{
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.60);
}